.questions {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 395px;
  &__boundered {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 1400px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 50px;
  }

  &__img{
    position: absolute;
    margin-left: 167px;
    margin-top: -50px;
  }

  &__title {
    margin-bottom: 56px;
    font-weight: 400;
    color: #2F4D6A;
  }

  &__btn {
    margin-bottom: 110px;
    color: white;
    cursor: pointer;
    font-weight: 700;
    padding: 14px 64px;
    border-radius: 78px;
    background: linear-gradient(rgba(50, 156, 202, 1), rgba(8, 137, 189, 1));
  }

  &__messanger {
    width: 100%;
    background: #CAF0FF;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__svg:hover {
    background: #329cca36;
  }
  &__whats {
    fill: #329CCA;
  }
  &__messanger-item:hover{
    .bottom-svg{
      fill: #329ccaa8;
    }
  }
  &__messanger-item{
    cursor: pointer;
  }
  &__messanger-item:first-child{
    margin-right: 7px;
  }
  &__telegram {}

  &__vk {}
}

@media screen and (max-width:1100px) {
  .questions{
    height: 300px;
    &__img{
      margin-left: 50px;
      width: 200px;
    }
    &__title {
      margin-bottom: 30px;
    }
    &__btn {
      margin-bottom: 50px;
    }
  }
}
@media screen and (max-width:800px) {
  .questions{
    height: 214px;
    &__img{
      margin-left: 20px;
      width: 150px;
    }
    &__title {
      margin-bottom: 20px;
    }
    &__btn {
      padding: 8px 40px;
      margin-bottom: 40px;
    }
  }
}
@media screen and (max-width:600px) {
  .questions__messanger-item:first-child{
    margin-right: 4px;
  }
  .questions{
    height: 175px;
    &__img{
      margin-top: 0px;
      margin-left: 10px;
      width: 100px;
    }
    &__title {
      margin-bottom: 10px;
    }
    &__btn {
      padding: 5px 30px;
      margin-bottom: 20px;
    }
  }
}
@media screen and (max-width:500px) {
  .questions{
    height: 155px;
    &__svg:last-child{
      margin-right: 0;
    }
    &__svg{
      margin-right: 10px;
    }
    &__img{
      margin-top: -5px;
      margin-left: 10px;
      width: 100px;
    }
    &__title {
      margin-bottom: 10px;
    }
    &__btn {
      padding: 5px 30px;
      margin-bottom: 20px;
    }
  }
}