.conection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 110px;
}

.conection__boundered {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1400px;
}

.conection__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.conection__title {
  margin-bottom: 16px;
  color: #2F4D6A;
}

.conection__subtitle {
  text-align: center;
  width: 65%;
  color: #2F4D6A;
  margin-bottom: 67px;
}

.conection__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  border: 1px solid  #329CCA;
  border-radius: 16px;
}

.conection__block-title {
  width: 100%;
  border-bottom: 1px solid #329CCA;
  padding: 16px 0;
  color: #2F4D6A;
  margin-bottom: 24px;
}

.conection__block-cost {
  border-bottom: 1px solid;
  width: 180px;
  color: #2F4D6A;
}

.conection__block-description {
  padding: 32px 0 24px;
  width: 80%;
  color: #2F4D6A;
}

@media screen and (max-width: 1000px) {
  .conection__subtitle {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 800px) {
  .conection {
    margin-bottom: 100px;
  }
  .conection__block-cost {
    width: 35%;
  }
  .conection__subtitle {
    margin-bottom: 50px;
  }
  .conection__block-title {
    padding: 10px 0;
  }
  .conection__subtitle {
    margin-bottom: 30px;
  }
  .conection__block-description {
    padding: 18px 0;
  }
}

@media screen and (max-width: 600px) {
  .conection {
    margin-bottom: 50px;
  }
  .conection__block {
    width: 60%;
  }
  .conection__block-cost {
    width: 35%;
  }
  .conection__block-title {
    margin-bottom: 8px;
  }
  .conection__subtitle {
    margin-bottom: 10px;
  }
  .conection__block-title {
    padding: 10px 0;
  }
  .conection__title {
    margin-bottom: 6px;
  }
  .conection__subtitle {
    margin-bottom: 10px;
  }
  .conection__block-description {
    width: 90%;
    padding: 10px 0;
  }
}
